<section class="container forms bg-light">
  <!-- Sigup Form -->
  <div class="form login shadow">
    <div class="form-content">
      <header>Signup</header>
      <form action="">
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input" name="email" />
        </div>

        <div class="field input-field">
          <input
            type="password"
            placeholder="Password"
            class="password"
            name="password"
          />
        </div>

        <div class="field input-field">
          <input
            type="password"
            placeholder="Confirm-Password"
            class="password"
            name="confim_pass"
          />
        </div>

        <div class="field button-field">
          <button>Signup</button>
        </div>
      </form>

      <div class="form-link">
        <span
          >Already have an account?
          <a href="./LoginForm.php" class="link login-link">Login</a>
        </span>
      </div>
    </div>

    <div class="line"></div>

    <div class="media-options">
      <a
        href="https://web.facebook.com/login.php/?_rdc=1&_rdr"
        class="field facebook"
      >
        <span class="text-white">Login with Facebook</span>
      </a>
    </div>

    <div class="media-options">
      <a
        href="https://accounts.google.com/v3/signin/identifier?dsh=S-805132891%3A1675273087075864&continue=https%3A%2F%2Fmyaccount.google.com%3Futm_source%3Daccount-marketing-page%26utm_medium%3Dcreate-account-button&flowName=GlifWebSignIn&flowEntry=AddSession"
        class="field google"
      >
        <span>Login with Google</span>
      </a>
    </div>
  </div>
</section>
